body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

.ui-overlay {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    color: white;
    pointer-events: none;
}